.osdiab--react-progress-bar--type-line {
  display: inline-block;
  width: 100%;
  height: 7px;
  border: 1px solid gray;
  border-radius: 2px;
}

.osdiab--react-progress-bar--type-line--progressBar {
  background: green;
  height: 100%;
  transition: width 0.2s ease;
  border-radius: 2px;
}

.osdiab--react-progress-bar--type-steps {
  display: inline-block;
}

.osdiab--react-progress-bar--type-steps--step {
  background: green;
  height: 10px;
  width: 10px;
  transition: opacity 0.1s;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
}

.osdiab--react-progress-bar--type-steps--step--incomplete {
  opacity: 0;
}
.osdiab--react-progress-bar--type-steps--step--complete {
  opacity: 1;
}
